MONGODB_PORT=27017
MONGODB_CONTAINER_NAME=mongodb_instance
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=changeMeMongo123
MONGODB_DATABASE=appdb
MONGODB_DB_VOLUME=mongodb_data
MONGODB_CONFIG_VOLUME=mongodb_config
