KAFKA_VERSION=3.0.2-debian-11-r19
KAFKA_PORT=9092
KAFKA_CONTAINER_NAME=kafka_instance
KAFKA_BROKER_ID=1
KAFKA_ADVERTISED_HOST=localhost
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_DATA_VOLUME=kafka_data

ZOOKEEPER_VERSION=3.8.4-debian-12-r17
ZOOKEEPER_PORT=2181
ZOOKEEPER_CONTAINER_NAME=kafka_zookeeper_instance
ZOOKEEPER_DATA_VOLUME=kafka_zookeeper_data
